<div>
    <h2 id="page-heading">
        <span>Wfexecutions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-wfexecution" [routerLink]="['/wfexecution/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Wfexecution
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="wfexecutions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bpm_instance_id"><span>Bpm Instance Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bpm_wrkfl_task_id"><span>Bpm Wrkfl Task Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="key_value"><span>Key Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sla"><span>Sla</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wfrequestWrkfl_execution_id"><span>Wfrequest</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let wfexecution of wfexecutions ;trackBy: trackId">
                <td><a [routerLink]="['/wfexecution', wfexecution.id, 'view' ]">{{wfexecution.id}}</a></td>
                <td>{{wfexecution.bpm_instance_id}}</td>
                <td>{{wfexecution.bpm_wrkfl_task_id}}</td>
                <td>{{wfexecution.key_value}}</td>
                <td>{{wfexecution.sla}}</td>
                <td>
                    <div *ngIf="wfexecution.wfrequestId">
                        <a [routerLink]="['../wfrequest', wfexecution.wfrequestId , 'view' ]" >{{wfexecution.wfrequestWrkfl_execution_id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/wfexecution', wfexecution.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/wfexecution', wfexecution.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'wfexecution/'+ wfexecution.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="wfexecutions && wfexecutions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
