<div>
    <h2 id="page-heading">
        <span>Taxforms</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-taxform" [routerLink]="['/taxform/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Taxform
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="taxforms">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Coe Rcpnt Id</span></th>
            <th><span>Sor Rcpnt Id</span></th>
            <th><span>Lob Id</span></th>
            <th><span>Sor Id</span></th>
            <th><span>Sub Lob Id</span></th>
            <th><span>Form Type</span></th>
            <th><span>Form Effective Dt</span></th>
            <th><span>Affidavit Dt</span></th>
            <th><span>Recipient</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let taxform of taxforms ;trackBy: trackId">
                <td><a [routerLink]="['/taxform', taxform.id, 'view' ]">{{taxform.id}}</a></td>
                <td>{{taxform.coe_rcpnt_id}}</td>
                <td>{{taxform.sor_rcpnt_id}}</td>
                <td>{{taxform.lob_id}}</td>
                <td>{{taxform.sor_id}}</td>
                <td>{{taxform.sub_lob_id}}</td>
                <td>{{taxform.form_type}}</td>
                <td>{{taxform.form_effective_dt | date:'mediumDate'}}</td>
                <td>{{taxform.affidavit_dt | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="taxform.recipient">
                        <a [routerLink]="['../recipient', taxform.recipient?.id, 'view' ]" >{{taxform.recipient?.sor_rcpnt_id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/taxform', taxform.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/taxform', taxform.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'taxform/'+ taxform.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
