<div>
    <h2 id="page-heading">
        <span>Recipients</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-recipient" [routerLink]="['/recipient/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Recipient
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="recipients">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Rec Src</span></th>
            <th><span>Lob Id</span></th>
            <th><span>Sor Id</span></th>
            <th><span>Sub Lob Id</span></th>
            <th><span>Sor Rcpnt Id</span></th>
            <th><span>Rcpnt Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let recipient of recipients ;trackBy: trackId">
                <td><a [routerLink]="['/recipient', recipient.id, 'view' ]">{{recipient.id}}</a></td>
                <td>{{recipient.rec_src}}</td>
                <td>{{recipient.lob_id}}</td>
                <td>{{recipient.sor_id}}</td>
                <td>{{recipient.sub_lob_id}}</td>
                <td>{{recipient.sor_rcpnt_id}}</td>
                <td>{{recipient.rcpnt_type}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/recipient', recipient.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/recipient', recipient.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'recipient/'+ recipient.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
